<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
    <script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/index.js') }}"></script>
</head>
<body>
    
    <main>
        <div class="wrap">
            <form action="" method="post" class="input-block login" id="main_file_form" >
                
                <input type="text" id="login" name="login" placeholder="Логин">

                
                <input type="password" id="password" name="password" placeholder="Пароль">

                <button class="submit-button">Регистрация</button>
            </form>
                        
        </div>
        
    </main>
</body>
</html>