<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <header>
        <h1>Кейс №3</h1>
    </header>
    <main>
        <div class="wrap">
            <form class="input-block" id="main_file_form">
                <input type="file" title="Загрузить данные" class="predict_input" id="predict_input" name="file" enctype="multipart/form-data">
                <div class="predict_button">Загрузить данные</div>
            </form>
            
            <textarea type="text" class="predictions" disabled id="predictions" value="Predictions" ></textarea>
        </div>
        
    </main>
</body>
</html>